
body{
    background-color:rgb(253, 33, 44);
    display: flex;
    justify-content: center;
 
}
.heading{
    text-align: center;
    background-color: lavender;
}
.content {
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row
    
}

.formcontent{
    padding: 30px 125px;
    background-color: ivory;
}
.content1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}
.buttons{
    display: flex;
    justify-content: center;
}
.buttons1{
    padding: 5px;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
}
.container{
     display: flex;
    flex-direction: column;
    justify-content: center; 
}
.formcolumn{
width: 50%;
align-self: center;
}
.aa{
    padding-left: 15px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 1px solid black;
}
#dataTable{
    padding: 20px 10px;
}